<div >
  <table *ngIf="getSimpleOrdersLength() > 0" class="order-list">
    <tr>
      <th>amount</th>
      <th>Item</th>
    </tr>
    <tr *ngFor="let item of getSimpleOrders()">
      <td>{{item.amount}}</td>
      <td>{{item.name}}</td>
    </tr>
  </table>
</div>
<div *ngIf="getComplexOrdersLength() > 0">
  <table *ngFor="let ord of getComplexOrders()" class="order-list">
    <tr>
      <th>{{getTitle(ord)}}</th>
    </tr>
    <tr *ngFor="let item of ord.items">
      <td>{{item.name}}</td>
    </tr>
  </table>
</div>
