<div class="order-list">
  <app-order-cards [orders]="getOthers()"/>
  <app-order-cards [orders]="getSandwiches()"/>
  <app-order-cards [orders]="getSandwichesOnCroissant()"/>
  <app-order-cards [orders]="getSalads()"/>
</div>
<div *ngIf="getComplexOrdersLength() > 0" class="salads">
<!--  <table *ngFor="let ord of getComplexOrders()" class="order-list">-->
<!--    <tr>-->
<!--      <th>{{getTitle(ord)}}</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let item of ord.items">-->
<!--      <td>{{item.name}}</td>-->
<!--    </tr>-->
<!--  </table>-->
  <app-three-salads-combo *ngFor="let ord of getComplexOrders()" [order]="ord"></app-three-salads-combo>
</div>
